@font-face {
    font-family: 'TT Lakes';
    src: url("../fonts/TTLakes-Regular.woff") format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

*,*::after,*::before{
    box-sizing: border-box;
}

.service{
    font-family: 'TT Lakes';
    background-color: #f8f8f8;
    width: 100%;
    }

.wraper{
    min-width: 320px;
    max-width: 1120px;
    max-height: 400px;
    margin: 0 auto;
    }


.service__title{
    margin: 0;
    padding: 16px;
    font-size: 16px;
    color: #7E7E82;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.2px;
    background-image: linear-gradient(90deg, #f8f8f8 0, #fff);;
    text-transform: uppercase;
    border-top: 1px solid #d9fff5;
}

.service__slider{
    padding-left: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    height: auto;
}

.service__items{
    position: relative;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    transition-duration: left 0.5s linear;
}

.service__item{
    display: flex;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    width: 240px;
    height: 72px;
    background-color: #ffffff;
}

.swiper::after {
    content: "";
    background: linear-gradient(
      270deg,
      #f8f8f8 16.84%,
      rgba(248, 248, 248, 0.0001) 100%
    );
    width: 24px;
    height: 100px;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 2;
  }

.service__button--show{
    display: none;
}

.service__item:hover{
    opacity: 0.5;
   }

.swiper-pagination {
    position: relative;
    }
  
.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #DDDDDD;
  }
  
.swiper-pagination-bullet-active {
    background-color: #B5B6BC;
  }

@media screen and (min-width: 768px){
.service__title{
    margin-left: 24px;
}    
.service-pagination{
    display: none;
}
.service__slider{
    overflow: visible;
    padding-left: 24px;
    padding-bottom: 0;
}
.hide__brands{
    height: 170px;
    overflow: hidden;
}
.show__brands{
    height: 340px;
}

.service__items{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    row-gap: 16px;
    transition: 0.5s linear;
}

.service__item{
    width: 224px;
}

.service__button--show{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 500;
    font-size: 16px;
    margin-left: 24px;
    gap: 15px;
    padding: 5px;
}
.service__button--show::before{
    content: '«';
    color: #41F6D7;
    font-size: 24px;
    transform: rotate(-90deg);
}
.button-all--hidden::before{
    transform: rotate(90deg);
}
}

@media screen and (min-width: 1120px){
    .service__items{
        grid-template-columns: repeat(4, 1fr);
    }
    .service__item{
        width: 240px;
    }
    .hide__brands{
        height: 170px;
    }
    .show__brands{
        height: 248px;
    }
}
